$TTL 300
@   IN  SOA server.wg. admin.wg. (
        1         ; serial
        3600      ; refresh
        900       ; retry
        604800    ; expire
        300 )     ; minimum
    IN  NS  server.wg.
