[Unit]
Description=Network Namespace for PIA
StopWhenUnneeded=true
Requires=vpn-passthrough-netns.service
After=vpn-passthrough-netns.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/vpn-passthrough.conf

PrivateNetwork=yes

# Create interface
ExecStart=/usr/bin/ip link add "${VETH_IFACE}" type "veth" peer name "${VPEER_IFACE}" netns "${NETNS}"
ExecStart=/usr/bin/ip addr add "${VETH_ADDR}/24" dev "${VETH_IFACE}"
ExecStart=/usr/bin/ip link set "${VETH_IFACE}" up
ExectStart=/usr/bin/ip netns exec "${NETNS}" ip addr add "${VPEER_ADDR}/24" dev "${VPEER_IFACE}"
ExectStart=/usr/bin/ip netns exec "${NETNS}" ip link set "${VPEER_IFACE}" up
ExectStart=/usr/bin/ip netns exec "${NETNS}" ip link set lo up
ExectStart=/usr/bin/ip netns exec "${NETNS}" ip route add default via "${VETH_ADDR}"

# Delete interface
ExecStop=/usr/bin/ip link delete "${VETH_IFACE}"        