<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h Foreign Widget</name>
  <service>
    <type>_http._tcp</type>
    <port>9999</port>
  </service>
</service-group>
