MDNS_REPEATER_IFACE={{ mdns_repeater_iface }}
MDNS_REPEATER_LOCAL_V4={{ mdns_repeater_local_v4 }}
MDNS_REPEATER_PEERS_V4={{ mdns_repeater_peers_v4 | join(',') }}
MDNS_REPEATER_PEERS_V6={{ mdns_repeater_peers_v6 | join(',') }}
