[project]
name = "data-platform-exports-sales"
version = "0.1.0"
description = "Sales Export"
readme = "../../../README.md"
requires-python = ">=3.13"
dependencies = [
    "data-platform-core-spi",
    "data-platform-tools-slack",
    "dependency-injector>=4.45.0",
]

[tool.uv]
package = true

[tool.uv.sources]
data-platform-core-spi = { workspace = true }
data-platform-tools-slack = { workspace = true }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
sources = ["src"]
only-include = ["src/data_platform/exports/sales"]

[project.entry-points."data_platform.exports"]
sales = "data_platform.exports.sales"