[Unit]
Description=Network Namespace for VPN Passthrough for %i
PartOf=vpn-passthrough@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=vpn-passthrough --app "%i" netns create
ExecStop=vpn-passthrough --app "%i" netns destroy