[Unit]
Description=Internet for the VPN Passthrough
BindTo=vpn-passthrough-veth.service
After=vpn-passthrough-veth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=vpn-passthrough forwarding start
ExecStartPost=sleep 5
ExecStop=vpn-passthrough forwarding stop