[Unit]
Description=Internet for the VPN Passthrough
Requires=vpn-passthrough-connectivity.service
After=vpn-passthrough-connectivity.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/vpn-passthrough/config.env
ExecStart=nft \
    -f "/etc/vpn-passthrough/internet.nft" \
    -D veth_iface="${VETH_IFACE}" \
    -D veth_addr="${VETH_ADDR}" \
    -D vpeer_iface="${VPEER_IFACE}" \
    -D vpeer_addr="${VPEER_ADDR}"

ExecStop=nft delete table inet vpn-passthrough