[Unit]
Description=Private Internet Access for VPN Passthrough for %I
BindTo=vpn-passthrough-forwarding@%i.service
After=vpn-passthrough-forwarding@%i.service
PartOf=vpn-passthrough@%i.service

[Service]
Type=notify
ExecStart=vpn-passthrough --app "%i" pia connect
