[Unit]
Description=Private Internet Access for the VPN Passthrough
BindTo=vpn-passthrough-internet.service
After=vpn-passthrough-internet.service

[Service]
Type=simple
NetworkNamespacePath=/var/run/netns/pia
EnvironmentFile=/etc/vpn-passthrough/config.env
ExecStart=/usr/bin/openvpn \
    --client \
    --dev "${OPENVPN_DEV}" \
    --proto "udp" \
    --resolv-retry "infinite" \
    --nobind \
    --persist-key \
    --persist-tun \
    --cipher "AES-256-CBC" \
    --data-ciphers-fallback "AES-256-CBC" \
    --auth "sha1" \
    --tls-client \
    --remote-cert-tls "server" \
    --auth-user-pass \
    --compress \
    --reneg-sec 0 \
    --crl-verify "/etc/vpn-passthrough/ca.rsa.2048.crl" \
    --ca "/etc/vpn-passthrough/ca.rsa.2048.crt" \
    --disable-occ \
    --errors-to-stderr \
    --pull-filter ignore "route-ipv6" \
    --pull-filter ignore "ifconfig-ipv6" \
    --remote "${OPENVPN_REMOTE}" \
    --port "${OPENVPN_PORT}" \
    --auth-user-pass "/etc/vpn-passthrough/pia.txt" \
    --auth-nocache \
    --script-security 2 \
    --up "/etc/vpn-passthrough/openvpn-script" \
    --down "/etc/vpn-passthrough/openvpn-script"