[Unit]
Description=Configuration for VPN Passthrough
BindTo=vpn-passthrough-pia.service
After=vpn-passthrough-pia.service

[Service]
Type=oneshot
RemainAfterExit=yes
NetworkNamespacePath=/var/run/netns/pia
BindReadOnlyPaths=/etc/netns/pia/resolv.conf:/etc/resolv.conf:norbind
# FIXME: We should get rid of this
ExecStartPre=sleep 5 
ExecStart=vpn-passthrough configuration setup
ExecStop=vpn-passthrough configuration teardown