[Unit]
Description=Forwarding for VPN Passthrough for %I
BindTo=vpn-passthrough-veth@%i.service
After=vpn-passthrough-veth@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=vpn-passthrough --app %I forwarding start
ExecStop=vpn-passthrough --app %I forwarding stop