[Unit]
Description=Configuration for VPN Passthrough for %I
BindTo=vpn-passthrough-pia@%i.service
After=vpn-passthrough-pia@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
NetworkNamespacePath=/var/run/netns/%I
BindReadOnlyPaths=/etc/netns/pia/resolv.conf:/etc/resolv.conf:norbind
ExecStartPre=sleep 10
ExecStart=vpn-passthrough --app "%I" configuration setup
ExecStop=vpn-passthrough --app "%I" configuration teardown