[Unit]

[Service]
Type=oneshot
NetworkNamespacePath=/var/run/netns/pia
BindReadOnlyPaths=/etc/netns/pia/resolv.conf:/etc/resolv.conf:norbind
ExecStart=vpn-passthrough pia bind-port %I